.page {
  padding: 40px 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 32px;
  align-items: start;
}

.main {
  min-width: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1372px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 100%;
    gap: 60px;
  }
}
