.layout {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: var(--px);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}


.blur1 {
  position: fixed;
  top: 20px;
  left: 0;
  pointer-events: none;
  z-index: 0;
  max-width: 50vw;
}

.blur2 {
  position: fixed;
  top: 426px;
  right: 0;
  pointer-events: none;
  z-index: 0;
  max-width: 50vw;
}

.blur3 {
  position: fixed;
  top: 40%;
  right: 60px;
  pointer-events: none;
  z-index: 0;
  max-width: 40vw;
}

@media (max-width: 767px) {
  .blur3 { display: none; }
}
